// Colors
$primary-color: #aa65d3;
$light-gray: #f8fafc;
$gray: #cbd5e1;
$dark-gray: #696969;
$black: #353638;
$white: #fbfbfb;

// Fonts
$font-body: 'Poppins', sans-serif;
$font-title: 'Roboto', sans-serif;