// Colors
$primary: #aa65d3;
$primary-light: #e3c1f7;
$light-gray: #f8f9fa;
$gray: #cdcfd2;
$dark-gray: #696969;
$black: #353638;
$white: #fbfbfb;
$red: #ed4337;
$red-background: #fcd3d3;
$green: #49ac49;
$green-background: #d9fcd9;

// Fonts
$font-body: 'Poppins', sans-serif;
$font-title: 'Roboto', sans-serif;