.csvConverter {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5rem;
   align-items: center;
   justify-content: center;

   &_historyContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
   }
}